    <p>
        <a href="/events/">Calendar view</a>
        | <a href="/events/agenda/">Agenda view</a>
        <% if (userIdForFacilitatorAgendaCalendar) { %>
            | <a href="/events/agenda/user/<%= userIdForFacilitatorAgendaCalendar %>">Agenda view for my events</a>
        <% } %>
    </p>
    <% if (!userIdForFacilitatorAgendaCalendar) { %>
        <p>
            Click a <strong>Register</strong> link to register for an event.
        </p>
    <% } %>
