                    <div class="quick-help-section-header">Connection issues</div>
                    <h5>Plan A <small><em>(resolves most issues)</em></small></h5>
                    Try the following, in order, one at at time:
                    <ul>
                      <li>
                        Try <strong>Refresh video</strong>, wait ten seconds
                      </li>
                      <li>
                        Try <strong>Reload conference</strong>, wait ten seconds
                      </li>
                      <li>
                        Ask them to restart their browser
                      </li>
                      <li>
                        Ask them to restart their computer
                      </li>
                    </ul>

                    <h5>Plan B <small><em>(if you can't resolve their technical issue in less than 2 minutes)</em></small></h5>
                    <ul>
                      <li>
                        Using chat, let them know that the problem can't be resolved now, and to use the support link <span class="support-url"><input type="text" value="<%- siteConfig.supportUrl %>" onClick="this.select();" readonly /></span> for additional troubleshooting help
                      </li>
                    </ul>
