.navbar {
  .container {
    a {
      font-weight: normal;
      text-decoration: none;
    }
  }
}

.footer {
  .container {
    a {
      font-weight: normal;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.container {
  a {
    font-weight: bold;
  }
}

.alert-danger {
	color: #000;
}
